/* =========== Responsive CSS */

@media (min-width: 320px) and (max-width: 574.98px) {


    /* -------------- common css */
    body {
        overflow-x: hidden;
    }

    /* -------------- common css */


    /* ===============================
                nav start
====================================== */

    .navbar {
        padding: 15px;
    }

    .navbar button i {
        color: #fff;
        font-size: 30px;
    }

    .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #000000a8;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    nav ul li .nav-link {
        padding: 10px 0;
    }

    nav ul li .nav-link::after {
        display: none;
    }

    /* ===============================
                nav end
====================================== */



    /* ===============================
                banner end
====================================== */
    #banner .overlay {
        padding: 135px 0 150px;
    }

    #banner .slide_item h4 {
        font-size: 22px;
    }

    #banner .slide_item h2 {
        font-size: 50px;
    }

    #banner .slide_item p {
        font-size: 20px;
    }

    #banner .slide_item p::before {
        width: 60px;
        left: -80%;
    }

    #banner .slide_item p::after {
        width: 60px;
        right: -80%;
    }

    #banner .banner_slider .slid_arrow {
        font-size: 22px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 30px;
    }

    #banner .banner_slider .left {
        left: 30%;
    }

    #banner .banner_slider .right {
        right: 30%;
    }


    /* --------- contact page banner */
    #banner .counter_down .count {
        width: 50%;
        margin: 0;
    }

    /* --------- contact page banner */

    /* ===============================
                banner start
====================================== */




    /* ===============================
                our story start
====================================== */
    #our_story .story_img .smoke {
        left: -150px;
        bottom: 35px;
    }

    #our_story .play {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    /* -------story page */
    #about_page #our_story .bottom_img .img {
        width: 100px;
        height: 100px;
        margin-right: 7px;
    }

    #about_page #our_story .bottom_img {
        justify-content: space-evenly;
    }

    #our_story .story_img .smokeindex {
        left: -78px !important;
    }

    /* -------story page */

    /* ===============================
                our story end
====================================== */




    /* ===============================
                happy hour end
====================================== */
    #happy_hour {
        padding: 30px 0;
    }

    #happy_hour .left_images {
        right: -80%;
        top: 65px;
    }

    #happy_hour .counter {
        width: 100px;
        height: 100px;
        margin: 24px;
    }

    .counter h4 {
        font-size: 35px;
        margin-bottom: -40px;
    }

    .counter_down {
        padding-right: 0;
    }

    #happy_hour .hour_text {
        margin-top: 80px;
        padding-left: 0;
        border-left: 0;
        text-align: center;
    }

    #happy_hour h3 {
        font-size: 20px;
    }

    #happy_hour .counter p {
        font-size: 15px;
    }

    /* ===============================
                happy hour end
====================================== */



    /* ===============================
                counter up  end
====================================== */
    #counter_up .counter_bg .item {
        margin: 20px 0;
    }


    /* ===============================
                counter up  end
====================================== */



    /* ===============================
                our tean  end
====================================== */
    #our_team {
        padding: 90px 0 100px;
    }

    #our_team .tittle {
        transform: translateY(0%);
    }

    #our_team .item .member {
        width: 100px;
        height: 100px;
    }

    #our_team .item {
        padding-top: 60px;
    }

    #our_team .item .smoke {
        top: -25%;
        left: 0;
        width: 100%;
    }

    #our_team .item h4 {
        font-size: 20px;
        margin: 15px 0 5px;
    }

    #our_team .item p {
        font-size: 15px;
    }


    /* ===============================
                our story end
====================================== */



    /* ===============================
                our story end
====================================== */

    #gallery .slide_item .icon {
        padding: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    }


    /* ------ gallery page */

    #gallery .gallery_body .item {
        width: 27%;
        margin: 3%;
    }

    /* ------ gallery page */

    /* ===============================
                our story end
====================================== */



    /* ===============================
                fill_form end
====================================== */
    #fill_form .form .tittle {
        text-align: center;
        margin-top: 60px;
    }

    #fill_form .filling_form .item {
        width: 100%;
    }

    #fill_form .filling_form textarea {
        height: 150px;
    }

    /* ===============================
                fill_form end
====================================== */



    /* ===============================
                fill_form end
====================================== */
    #testimonial .slide_item {
        width: auto;
        flex-wrap: wrap;
        justify-content: center;
    }

    #testimonial .slide_item .text p {
        font-size: 15px;
        margin-top: 12px;
    }

    #testimonial .left {
        left: 20px;
    }

    #testimonial .right {
        right: -30px;
    }

    /* ===============================
                fill_form end
====================================== */




    /* ===============================
                fill_form end
====================================== */

    footer .item p {
        font-size: 15px;
    }

    footer .item {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    footer .social_icon a i {
        font-size: 14px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    footer .social_icon p {
        font-size: 13px;
    }

    footer .bottom_border {
        border-bottom: none;
    }

    /* ===============================
                fill_form end
====================================== */









    /* ----------small end--------- */
}

/*  */

@media (min-width: 575px) and (max-width: 767.98px) {


    /* -------------- common css */

    body {
        overflow-x: hidden;
    }

    /* -------------- common css */


    /* ===============================
                nav start
====================================== */

    .navbar {
        padding: 15px;
    }

    .navbar button i {
        color: #fff;
        font-size: 30px;
    }

    .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background: #000000a8;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    nav ul li .nav-link {
        padding: 10px 0;
    }

    nav ul li .nav-link::after {
        display: none;
    }

    /* ===============================
                nav end
====================================== */



    /* ===============================
                banner end
====================================== */
    #banner .overlay {
        padding: 135px 0 150px;
    }

    #banner .slide_item h4 {
        font-size: 28px;
    }

    #banner .slide_item h2 {
        font-size: 65px;
    }

    #banner .slide_item p {
        font-size: 20px;
    }

    #banner .slide_item p::before {
        width: 60px;
        left: -80%;
    }

    #banner .slide_item p::after {
        width: 60px;
        right: -80%;
    }

    #banner .banner_slider .slid_arrow {
        font-size: 22px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 30px;
    }

    #banner .banner_slider .left {
        left: 40%;
    }

    #banner .banner_slider .right {
        right: 40%;
    }


    /* ------- story page */
    #our_story .story_img .smokeindex {
        left: -78px !important;
    }

    /* ------- story page */

    /* --------- contact page banner */
    #banner .counter_down .count {
        width: 25%;
        margin: 0;
    }

    /* --------- contact page banner */


    /* ===============================
                banner start
====================================== */




    /* ===============================
                our story start
====================================== */
    #our_story .story_img .smoke {
        left: -140px;
        bottom: 30px;
    }

    #our_story .play {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }


    /* ===============================
                our story end
====================================== */

    /* ===============================
                counter up  end
====================================== */
    #counter_up .counter_bg .item {
        margin: 20px 0;
    }

    #counter_up .counter_bg .item p {
        font-size: 18px;
    }

    #counter_up .counter_bg .item h4 {
        font-size: 30px;
    }

    /* ===============================
            counter up  end
====================================== */


    /* ===============================
                our story end
====================================== */
    #happy_hour {
        padding: 30px 0;
    }

    #happy_hour .left_images {
        right: -80%;
        top: 65px;
    }

    #happy_hour .counter {
        width: 100px;
        height: 100px;
        margin: 14px;
    }

    .counter h4 {
        font-size: 35px;
        margin-bottom: -40px;
    }

    .counter_down {
        padding-right: 0;
    }

    #happy_hour .hour_text {
        margin-top: 80px;
        padding-left: 0;
        border-left: 0;
        text-align: center;
    }

    #happy_hour h3 {
        font-size: 20px;
    }

    #happy_hour .counter p {
        font-size: 15px;
    }

    /* ===============================
                our story end
====================================== */

    /* ===============================
                our story end
====================================== */
    #our_team {
        padding: 90px 0 100px;
    }

    #our_team .tittle {
        transform: translateY(0%);
    }

    #our_team .item .member {
        width: 100px;
        height: 100px;
    }

    #our_team .item {
        padding-top: 50px;
        width: 25%;
    }

    #our_team .item .smoke {
        top: -30px;
        left: 0;
        width: 100%;
    }

    #our_team .item h4 {
        font-size: 19px;
        margin: 15px 0 5px;
    }

    #our_team .item p {
        font-size: 15px;
    }

    /* ===============================
                our story end
====================================== */



    /* ===============================
                our story end
====================================== */

    #gallery .slide_item .icon {
        padding: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    }

    #gallery .gallery_body .item {
        width: 27%;
        margin: 3%;
    }

    /* ===============================
                our story end
====================================== */



    /* ===============================
                fill_form end
====================================== */
    #fill_form .form .tittle {
        text-align: center;
        margin-top: 60px;
    }

    #fill_form .filling_form .item {
        width: 100%;
    }

    #fill_form .filling_form textarea {
        height: 150px;
    }

    /* ===============================
                fill_form end
====================================== */



    /* ===============================
                fill_form end
====================================== */
    #testimonial .slide_item {
        width: auto;
    }

    #testimonial .slide_item .text p {
        font-size: 15px;
        margin-top: 10px;
    }

    #testimonial .left {
        left: 0;
    }

    #testimonial .right {
        right: -55px;
    }

    /* ===============================
                fill_form end
====================================== */




    /* ===============================
                fill_form end
====================================== */

    footer .item p {
        font-size: 15px;
    }

    footer .item {
        padding-bottom: 30px;
        margin-bottom: 30px;
    }

    footer .social_icon a i {
        font-size: 14px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    footer .social_icon p {
        font-size: 13px;
    }

    footer .bottom_border {
        border-bottom: none;
    }

    /* ===============================
                fill_form end
====================================== */









    /* ----------small end--------- */
}

/*  */


@media (min-width: 768px) and (max-width: 991.98px) {


    /* -------------- common css */

    body {
        overflow-x: hidden;
    }

    /* -------------- common css */





    /* ===============================
                nav start
====================================== */

    .navbar {
        padding: 15px;
    }

    .navbar .navbar-brand {
        margin: 0 auto;
    }

    .navbar button i {
        color: #fff;
        font-size: 30px;
    }

    .navbar .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        padding-left: 15px;
        padding-bottom: 15px;
    }

    .navbar ul {
        margin: 0 auto !important;
    }

    nav ul li .nav-link {
        padding: 10px 0;
    }

    nav ul li .nav-link::after {
        display: none;
    }

    /* ===============================
                nav end
====================================== */



    /* ===============================
                banner end
====================================== */
    #banner .overlay {
        padding: 200px 0 180px;
    }

    #banner .slide_item h4 {
        font-size: 28px;
    }

    #banner .slide_item h2 {
        font-size: 65px;
    }

    #banner .slide_item p {
        font-size: 20px;
    }

    #banner .slide_item p::before {
        width: 60px;
        left: -80%;
    }

    #banner .slide_item p::after {
        width: 60px;
        right: -80%;
    }

    #banner .banner_slider .slid_arrow {
        font-size: 22px;
        width: 50px;
        height: 50px;
        line-height: 50px;
        bottom: 30px;
    }

    #banner .banner_slider .left {
        left: 40%;
    }

    #banner .banner_slider .right {
        right: 40%;
    }

    /* ===============================
                banner start
====================================== */




    /* ===============================
                our story start
====================================== */
    #our_story .details {
        padding-top: 0;
    }

    #our_story .details p {
        font-size: 14px;
        margin-top: 10px;
    }

    #our_story .explore_btn {
        margin-top: 15px;
    }

    #our_story .story_img .smoke {
        left: -190px;
        bottom: 15px;
    }

    #our_story .play {
        width: 80px;
        height: 80px;
        line-height: 80px;
    }

    #our_story .details .about_p {
        font-size: 18px !important;
    }

    /* --------- story page */
    #our_story .story_img .smokeindex {
        left: -50px;
        bottom: 50px;
    }

    /* --------- story page */

    /* ===============================
                our story end
====================================== */




    /* ===============================
                our story end
====================================== */
    #happy_hour {
        padding: 30px 0;
    }

    #happy_hour .left_images {
        right: -80%;
        top: 65px;
    }

    #happy_hour .counter {
        width: 130px;
        height: 130px;
        margin: 14px;
    }

    .counter h4 {
        font-size: 35px;
        margin-bottom: -40px;
    }

    .counter_down {
        padding-right: 0;
    }

    #happy_hour .hour_text {
        margin-top: 80px;
        padding-left: 0;
        border-left: 0;
        text-align: center;
    }

    #happy_hour h3 {
        font-size: 20px;
    }

    #happy_hour .counter p {
        font-size: 15px;
    }

    /* ===============================
                our story end
====================================== */



    /* ===============================
                counter_up end
====================================== */
    #counter_up .counter_bg {
        padding: 24px 0;
    }

    #counter_up .counter_bg .item h4 {
        font-size: 25px;
    }

    #counter_up .counter_bg .item p {
        font-size: 16px;
    }

    /* ===============================
                counter_up end
====================================== */


    /* ===============================
                our story end
====================================== */
    #our_team {
        padding: 90px 0 100px;
    }

    #our_team .tittle {
        transform: translateY(0%);
    }

    #our_team .item .member {
        width: 150px;
        height: 150px;
    }

    #our_team .item {
        padding-top: 70px;
    }

    #our_team .item .smoke {
        top: -55px;
        left: 0;
        width: 100%;
    }

    #our_team .item h4 {
        font-size: 19px;
        margin: 15px 0 5px;
    }

    #our_team .item p {
        font-size: 15px;
    }

    /* ===============================
                our story end
====================================== */



    /* ===============================
                our story end
====================================== */

    #gallery .slide_item .icon {
        padding: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    }

    #gallery .gallery_body .item {
        width: 27%;
        margin: 3%;
    }

    /* ===============================
                our story end
====================================== */



    /* ===============================
                fill_form end
====================================== */
    #fill_form .form .tittle {
        text-align: center;
        margin-top: 60px;
    }

    #fill_form .filling_form .item {
        width: 100%;
    }

    #fill_form .filling_form textarea {
        height: 150px;
    }

    /* ===============================
                fill_form end
====================================== */



    /* ===============================
                fill_form end
====================================== */
    #testimonial .slide_item {
        width: auto;
    }

    #testimonial .slide_item .text p {
        font-size: 15px;
        margin-top: 10px;
    }

    #testimonial .left {
        left: 0;
    }

    #testimonial .right {
        right: -55px;
    }

    /* ===============================
                fill_form end
====================================== */




    /* ===============================
                fill_form end
====================================== */

    footer .item p {
        font-size: 15px;
    }

    footer .item {
        padding-bottom: 50px;
    }

    footer .social_icon a i {
        font-size: 14px;
        width: 50px;
        height: 50px;
        line-height: 50px;
    }

    footer .social_icon p {
        font-size: 13px;
    }

    footer .bottom_border {
        border-bottom: none;
    }

    /* ===============================
                fill_form end
====================================== */









    /* ----------small end--------- */
}

/*  */

@media (min-width: 991.98px) and (max-width: 1199.98px) {


    /* -------------- common css */

    body {
        overflow-x: hidden;
    }

    /* -------------- common css */



    /* ===============================
                nav start
====================================== */


    /* ===============================
                nav end
====================================== */



    /* ===============================
                banner end
====================================== */
    #banner .banner_slider .left {
        left: 40%;
    }

    #banner .banner_slider .right {
        right: 40%;
    }

    /* ===============================
                banner start
====================================== */




    /* ===============================
                our story start
====================================== */
    #our_story .details {
        padding-top: 0;
    }

    #our_story .details p {
        margin-top: 20px;
    }

    #our_story .explore_btn {
        margin-top: 15px;
    }

    #our_story .story_img .smoke {
        left: -170px;
        bottom: 20px;
    }

    /* --------story page */
    #our_story .story_img .smokeindex {
        left: -100px;
        bottom: 25px;
    }

    /* --------story page */
    /* ===============================
                our story end
====================================== */




    /* ===============================
                happy hour end
====================================== */
    #happy_hour {
        padding: 30px 0;
    }

    #happy_hour .left_images {
        right: -80%;
        top: 65px;
    }

    #happy_hour .counter {
        width: 115px;
        height: 115px;
    }

    .counter h4 {
        font-size: 35px;
        margin-bottom: -40px;
    }

    .counter_down {
        padding-right: 0;
    }

    #happy_hour .hour_text {
        border-left: 0;
        padding-left: 25px;
    }


    /* ===============================
                happy hour end
====================================== */



    /* ===============================
                our_team end
====================================== */
    #our_team {
        padding: 90px 0 100px;
    }

    #our_team .tittle {
        transform: translateY(0%);
    }

    #our_team .item .member {
        width: 200px;
        height: 200px;
    }

    #our_team .item {
        padding-top: 100px;
    }

    #our_team .item .smoke {
        top: -50px;
        left: 0;
        width: 100%;
    }

    /* ===============================
                our_team end
====================================== */

    /* ===============================
                our_team end
====================================== */
    #counter_up .counter_bg .item p {
        font-size: 22px;
    }

    /* ===============================
                our_team end
====================================== */



    /* ===============================
                gallery  end
====================================== */

    #gallery .slide_item .icon {
        padding: 0;
        background: rgba(0, 0, 0, 0.8);
        width: 50px;
        height: 50px;
        text-align: center;
        line-height: 50px;
        font-size: 20px;
    }

    #gallery .gallery_body .item {
        width: 29%;
        margin: 2%;
    }

    /* ===============================
                gallery end
====================================== */



    /* ===============================
                fill_form end
====================================== */

    #fill_form .filling_form textarea {
        height: 150px;
    }

    #fill_form .item_img .img {
        margin-top: 110px;
    }

    /* ===============================
                fill_form end
====================================== */



    /* ===============================
                fill_form end
====================================== */


    #testimonial .left {
        left: 85px;
    }

    #testimonial .right {
        right: 35px;
    }

    /* ===============================
                fill_form end
====================================== */


}


/*  */


@media (min-width: 1199.98px) and (max-width: 1399.98px) {

    /* -------------- common css */
    body {
        overflow-x: hidden;
    }

    /* -------------- common css */

    .counter_down {
        padding-left: 0;
    }

    .counter h4 {
        font-size: 48px;
    }

    #happy_hour .counter {
        width: 135px;
        height: 135px;
        margin: 7px;
    }



    #gallery .gallery_body .item {
        width: 18%;
        margin: 1%;
    }
}


/*  */